
body
{
  font-family: 'Libre Baskerville', serif;
  background-color: #b4b4b4;
}

header
{
  background-color: DodgerBlue;
  font-family: 'Libre Baskerville', serif;
}

a
{
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  font-family: 'Libre Baskerville', serif;
}

nav
{
  font-family: 'Libre Baskerville', serif;
}

.card
{
  padding: 1px;
}
.card-header
{
  border-radius:10px;
  border-style:solid;
  border-color:#fefefe;
}

.col{
  padding: 5px;
}
#nav_block
{
  padding: 5px;
  display: block;
  background: DodgerBlue;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #000;
  border-style: solid;
  border-color: #000000;
}

#nav
{
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  background-color: #b4b4b4;
  padding: 5px;
  width: 315px;
  text-align: center;
}

#paragraph
{
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  background-color: #b4b4b4;
  padding: 5px;
  width: 600px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

#paragraph_1
{
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
  width: 600px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
